<nav class="navbar navbar-expand navbar-toolbar navbar-light border border-secondary rounded p-3 mb-3">
	<div class="flex-grow-1">
		{control $control:pages}
	</div>
	<div class="flex-nowrap form-inline">
		{control $control:perPage}
	</div>
</nav>