<div class="form-group row">
	<div class="col-sm-3 text-sm-right">
		<label n:name="$input" class="col-form-label font-weight-normal py-1">{$input->getCaption()|translate}</label>
	</div>
	<div class="col-sm-9">
		<input n:name="$input" type="text" class="form-control form-control-sm">
	</div>
</div>