<div class="card card-outline card-secondary datagrid datagrid-{$controlName} p-0" data-refresh-state="{link refreshState!}" n:snippet="grid">
{snippetArea gridSnippets}

<form n:name="filter" class="ajax">

	<div class="card-header border-0 py-1 d-flex flex-wrap align-items-center" n:ifcontent>
		<h3 class="card-title flex-grow-1 py-2" n:if="$title">{$title|translate:[name => $controlName]|noescape}</h3>
		<div class="card-tools btn-toolbar py-2" n:ifcontent>

			<div class="btn-group mr-2 datagrid-exports" n:if="$exports" n:block="exports" n:inner-foreach="$exports as $export">
				{$export->render()}
			</div>

			<div class="btn-group mr-2" n:if="$control->hasOuterFilterRendering() && $filters && !$hasFiltersAlwaysShown">
				<a href="#" class="btn bg-info btn-sm" data-toggle="collapse" data-target="#datagrid-{$controlName}-row-filters">
					<i class="fas fa-filter fa-fw"></i> {_ublaboo_datagrid.show_filter}
				</a>
				<a n:href="resetFilter!" n:if="$filter_active" class="btn bg-info btn-sm ajax text-nowrap reset-filter" title="{_ublaboo_datagrid.reset_filter}"><i class="fas fa-times"></i></a>
			</div>

			<div class="btn-group mr-2" n:if="$control->canHideColumns()">
				<a href="#" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog fa-fw"></i></a>
				<div class="dropdown-menu dropdown-menu-right">

					<a n:href="showAllColumns!" class="dropdown-item ajax"><i class="fas fa-eye fa-fw"></i> {_ublaboo_datagrid.show_all_columns}</a>
					<a n:href="showDefaultColumns!" class="dropdown-item ajax" n:if="$control->hasSomeColumnDefaultHide()"><i class="fas fa-redo fa-fw"></i> {_ublaboo_datagrid.show_default_columns}</a>

					<div class="dropdown-divider"></div>

					<a n:foreach="$columnsVisibility as $key => $vis" class="ajax dropdown-item" href="{if $vis[visible]}{link hideColumn! $key}{else}{link showColumn! $key}{/if}">
						<i n:class="$vis['visible'] ? 'fas fa-check-square' : 'far fa-square', fa-fw"></i>
						{include #column-header, column => $vis['column']}
					</a>

				</div>
			</div>

			<div class="btn-group mr-2" n:if="$toolbarButtons || $inlineAdd">
				{foreach $toolbarButtons as $toolbarButton}{$toolbarButton->renderButton()}{/foreach}
				{if $inlineAdd}{$inlineAdd->renderButtonAdd()}{/if}
			</div>

		</div>
	</div>

	<div n:class="$control->hasCollapsibleOuterFilters() ? collapse, $hasFiltersAlwaysShown || $filter_active ? show" id="datagrid-{$controlName}-row-filters" n:if="$control->hasOuterFilterRendering()">
	<div class="card-body datagrid-filters py-0 pt-3" n:block="outer-filters" n:ifcontent>

		<div class="row" n:foreach="array_chunk($filters, $control->getOuterFilterColumnsCount(), true) as $items">
			{var $items = array_pad($items, $control->getOuterFilterColumnsCount(), null)}
			{var $isLastRow = $iterator->isLast()}
			<div class="col-md" n:foreach="$items as $key => $item">
				{if !is_null($item)}{include $item->getTemplate(),
					filter => $item,
					input => $form['filter'][$key],
					isLastRow => $isLastRow
				}{/if}
			</div>
		</div>

		<div class="text-right datagrid-manual-submit" n:if="!$control->hasAutoSubmit()">
			{input $filter['filter']['submit']}
		</div>

	</div>
	</div>

	<div class="card-body p-0 table-responsive">
	<table n:class="table, table-sm, table-striped, $rows ? table-hover" n:snippet="table" n:block="data">

		<thead n:block="header">
			<tr n:block="header-column-row">

				<th n:foreach="$columns as $key => $column" n:attr="$column->getElementForRender('th', $key)->attrs">
					<a n:href="sort! $control->getSortNext($column)" n:class="ajax, $column->isSortedBy() ? sort" id="datagrid-sort-{$key}" n:tag-if="$column->isSortable()">
						<span n:if="$column->isSortable()">
							<i class="fas fa-caret-up fa-fw" n:if="$column->isSortedBy() && $column->isSortAsc()"></i>
							<i class="fas fa-caret-down fa-fw" n:if="$column->isSortedBy() && !$column->isSortAsc()"></i>
							<i class="fas fa-sort fa-fw" n:if="!$column->isSortedBy()"></i>
						</span>
						{include #column-header, column => $column}
					</a>
					<a n:href="resetColumnFilter! $key" data-datagrid-reset-filter-by-column="{$key}" class="text-danger ajax float-right" title="{_ublaboo_datagrid.reset_filter}" n:if="$control->hasColumnReset() && isset($filters[$key]) && $filters[$key]->isValueSet()">
						<i class="fas fa-times fa-fw"></i>
					</a>
				</th>

				<th n:if="$actions || $control->isSortable() || $itemsDetail || $inlineEdit || $inlineAdd" class="col-action text-right text-nowrap">
					{_ublaboo_datagrid.action}
				</th>

			</tr>
		</thead>

		{block tbody}
		<tbody n:snippet="tbody" {if $control->isSortable()}data-sortable data-sortable-url="{plink $control->getSortableHandler()}" data-sortable-parent-path="{$control->getSortableParentPath()}"{/}>
		{snippetArea items}

			{if $inlineAdd && $inlineAdd->isPositionTop()}
				{include inlineAddRow, columns => $columns}
			{/if}

			{if $columnsSummary && $columnsSummary->getPositionTop()}
				{include columnSummary}
			{/if}

			{foreach $rows as $row}
				{var $item = $row->getItem()}

				{if !isset($toggle_detail)}
					{if $inlineEdit && $inlineEdit->getItemId() == $row->getId()}
						{php $inlineEdit->onSetDefaults($filter['inline_edit'], $item)}

						<tr data-id="{$row->getId()}" n:snippet="'item-'.$row->getId()" n:attr="$row->getControl()->attrs">
							{foreach $columns as $key => $column}
								{var $td = $column->getElementForRender('td', $key, $row)}
								{var $td->class[] = 'datagrid-inline-edit'}
								{$td->startTag()|noescape}
									{if isset($filter['inline_edit'][$key])}
										{if $filter['inline_edit'][$key] instanceof \Nette\Forms\Container}
											{foreach $filter['inline_edit'][$key]->getControls() as $inlineEditControl}
												{input $inlineEditControl}
											{/foreach}
										{else}
											{input $filter['inline_edit'][$key]}
										{/if}
									{elseif $inlineEdit->showNonEditingColumns()}
										{include column-value, column => $column, row => $row, key => $key}
									{/if}
								{$td->endTag()|noescape}
							{/foreach}

							<td class="col-action text-right text-nowrap col-action-inline-edit">
								<button n:name="$filter['inline_edit']['submit']" type="submit" class="btn btn-xs btn-primary">
									<i class="fas fa-fw fa-save"></i>
								</button>
								<button n:name="$filter['inline_edit']['cancel']" type="submit" class="btn btn-xs btn-danger">
									<i class="fas fa-fw fa-times"></i>
								</button>
								{input $filter['inline_edit']['_id']}
								{input $filter['inline_edit']['_primary_where_column']}
							</td>
						</tr>
					{else}
						<tr data-id="{$row->getId()}" n:snippet="'item-'.$row->getId()" n:attr="$row->getControl()->attrs">
							{foreach $columns as $key => $column}
								{php $column = $row->applyColumnCallback($key, clone $column)}

								{var $td = $column->getElementForRender('td', $key, $row)}
								{$td->startTag()|noescape}
									{include column-value, column => $column, row => $row, key => $key}
								{$td->endTag()|noescape}
							{/foreach}
							<td n:if="$actions || $control->isSortable() || $itemsDetail || $inlineEdit || $inlineAdd" class="col-action text-right text-nowrap">
								<span class="handle-sort btn btn-xs btn-secondary" n:if="$control->isSortable()">
									<i n:block="icon-arrows-v" class="fas fa-arrows-up-down fa-fw"></i>
								</span>
								{if $inlineEdit && $row->hasInlineEdit()}
									{$inlineEdit->renderButton($row)|noescape}
								{/if}
								{if $itemsDetail && $itemsDetail->shouldBeRendered($row)}
									{$itemsDetail->renderButton($row)|noescape}
								{/if}
								{foreach $actions as $key => $action}
									{if $row->hasAction($key)}
										{if $action->hasTemplate()}
											{include $action->getTemplate(), item => $item, (expand) $action->getTemplateVariables(), row => $row}
										{else}
											{$action->render($row)|noescape}
										{/if}
									{/if}
								{/foreach}
							</td>
						</tr>
					{/if}
				{/if}

				{if $itemsDetail && $itemsDetail->shouldBeRendered($row)}
					<tr class="row-item-detail item-detail-{$control->getFullname()}-id-{$row->getId()}" n:snippet="'item-'.$row->getId().'-detail'">
						{if isset($toggle_detail) && $toggle_detail == $row->getId()}
							{var $item_detail_params = ['item' => $item, '_form' => $filter] + $itemsDetail->getTemplateVariables()}

							{if isset($filter['items_detail_form'])}
								{var $item_detail_params['items_detail_form'] = $filter['items_detail_form']}
							{/if}

							{ifset #detail}
								<td colspan="{$control->getColumnsCount()}" class="p-0">
									<div class="item-detail-content p-1">
										{include #detail, (expand) $item_detail_params}
									</div>
								</td>
							{elseif $itemsDetail}
								<td colspan="{$control->getColumnsCount()}" class="p-0">
									<div class="item-detail-content px-4 py-1 bg-light">
										{if $itemsDetail->getType() == 'template'}
											{include $itemsDetail->getTemplate(), (expand) $item_detail_params}
										{else}
											{$itemsDetail->render($item)|noescape}
										{/if}
									</div>
								</td>
							{/ifset}
						{/if}
					</tr>
					<tr class="row-item-detail-helper"></tr>
				{/if}
			{/foreach}

			{if $inlineAdd && $inlineAdd->isPositionBottom()}
				{include inlineAddRow, columns => $columns}
			{/if}

			{if ($columnsSummary && !$columnsSummary->getPositionTop()) || $control->hasSomeAggregationFunction()}
				{include columnSummary}
			{/if}

			{block noItems}
				<tr n:if="!$rows">
					<td colspan="{$control->getColumnsCount()}" class="py-2 text-muted font-italic">
						{if $filter_active}
							{_ublaboo_datagrid.no_item_found_reset} <a n:href="resetFilter!" class="link ajax">{_ublaboo_datagrid.here}</a>.
						{else}
							{_ublaboo_datagrid.no_item_found}
						{/if}
					</td>
				</tr>
			{/block}

		{/snippetArea}
		</tbody>
		{/block}

	</table>
	</div>

	<div class="card-footer p-1" n:block="pagination" n:if="($control->isPaginated() || $filter_active) && !$control->isTreeView()">
	<div class="d-md-flex flex-wrap justify-content-end" n:snippet="pagination">

		<div class="col-pagination flex-grow-1 px-3 py-2" n:ifcontent>
			{control paginator}
		</div>

		<div class="col-items col-per-page form-inline flex-nowrap pr-3 py-2" n:ifcontent>

			<a n:href="resetFilter!" n:if="$filter_active" class="btn btn-danger btn-sm ajax text-nowrap reset-filter">
				<i class="fas fa-filter-circle-xmark fa-fw"></i> {_ublaboo_datagrid.reset_filter}
			</a>

			<span class="mx-1" n:if="$control->isPaginated() && $filter_active"></span>

			<div class="input-group input-group-sm datagrid-per-page" n:if="$control->isPaginated()">
				<div class="input-group-prepend">
					<span class="input-group-text text-muted">
						{var $paginator = $control['paginator']->getPaginator()}

						{if $control->getPerPage() === 'all'}
							{_ublaboo_datagrid.items}: {_ublaboo_datagrid.all}
						{else}
							{_ublaboo_datagrid.items}: {$paginator->getOffset() > 0 ? $paginator->getOffset() + 1 : ($paginator->getItemCount() > 0 ? 1 : 0)} - {sizeof($rows) + $paginator->getOffset()}
							{_ublaboo_datagrid.from} {$paginator->getItemCount()}
						{/if}
					</span>
				</div>
				<select n:name="$filter['perPage']" style="min-width: 70px" data-no-search data-autosubmit-per-page></select>
				<div class="input-group-append">
					<button n:name="$filter['perPage_submit']" type="submit" class="btn btn-outline-secondary datagrid-per-page-submit">{_ublaboo_datagrid.per_page_submit}</button>
				</div>
			</div>

		</div>

	</div>
	</div>

</form>

	<div class="overlay" n:if="$isDisabled">
		<i class="fa-ban fa-3x text-danger"></i>
	</div>

{/snippetArea}
</div>

{define inlineAddRow}
<tr class="datagrid-row-inline-add datagrid-row-inline-add-hidden" n:if="$inlineAdd->shouldBeRendered()">
	{php $inlineAdd->onSetDefaults($filter['inline_add'])}
	<td n:if="$hasGroupActions" class="col-checkbox"></td>

	{foreach $columns as $key => $column}
		{var $col = 'col-' . $key}

		{var $td = clone $column->getElementForRender('td', $key)}
		{var $td->class[] = 'datagrid-inline-edit'}
		{$td->startTag()|noescape}
			{if isset($filter['inline_add'][$key])}
				{if $filter['inline_add'][$key] instanceof \Nette\Forms\Container}
					{foreach $filter['inline_add'][$key]->getControls() as $inlineAddControl}
						{input $inlineAddControl}
					{/foreach}
				{else}
					{input $filter['inline_add'][$key]}
				{/if}
			{/if}
		{$td->endTag()|noescape}
	{/foreach}

	<td class="col-action text-nowrap col-action-inline-edit">
		<button n:name="$filter['inline_add']['submit']" type="submit" class="btn btn-xs btn-primary">
			<i class="fas fa-fw fa-save"></i>
		</button>
		<button n:name="$filter['inline_add']['cancel']" type="submit" class="btn btn-xs btn-danger">
			<i class="fas fa-fw fa-times"></i>
		</button>
	</td>
</tr>
{/define}


{define columnSummary}

	<tr class="datagrid-row-columns-summary" n:if="!empty($rows) && ($columnsSummary || $control->hasSomeAggregationFunction())" n:snippet="summary">

		{if $columnsSummary && $columnsSummary->someColumnsExist($columns)}
			{include columnsSummary, columns => $columns}
		{/if}

		{if $control->hasSomeAggregationFunction()}
			{include aggregationFunctions, columns => $columns}
		{/if}

		<td n:if="$actions || $control->isSortable() || $itemsDetail || $inlineEdit || $inlineAdd" class="col-action"></td>
	</tr>

{/define}


{define columnsSummary}

	{foreach $columns as $key => $column}
		{var $td = $column->getElementForRender('td', $key)}

		{$td->startTag()|noescape}
			{$columnsSummary->render($key)}
		{$td->endTag()|noescape}
	{/foreach}

{/define}


{define aggregationFunctions}

	{foreach $columns as $key => $column}
		{var $td = $column->getElementForRender('td', $key)}

		{$td->startTag()|noescape}
			{if $aggregationFunctions}
				{ifset $aggregationFunctions[$key]}
					{$aggregationFunctions[$key]->renderResult()|noescape}
				{/ifset}
			{else}
				{$multipleAggregationFunction->renderResult($key)|noescape}
			{/if}
		{$td->endTag()|noescape}
	{/foreach}

{/define}


{define column-header}
	{if !$column->isHeaderEscaped()}
		{if $column instanceof \Nette\Utils\Html || !$column->isTranslatableHeader()}
			{$column->getName()|noescape}
		{else}
			{_$column->getName()|noescape}
		{/if}
	{else}
		{if $column instanceof \Nette\Utils\Html || !$column->isTranslatableHeader()}
			{$column->getName()}
		{else}
			{_$column->getName()}
		{/if}
	{/if}
{/define}


{define column-value}
	{var $col = 'col-' . $key}
	{var $item = $row->getItem()}

	{if $column->hasTemplate()}
		{include $column->getTemplate(), row => $row, item => $item, (expand) $column->getTemplateVariables()}
	{else}
		{ifset #$col}
			{include #$col, item => $item}
		{else}
			{if $column->isTemplateEscaped()}
				{$column->render($row)}
			{else}
				{$column->render($row)|noescape}
			{/if}
		{/ifset}
	{/if}
{/define}
